.tile {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 7px 0px;
  border-radius: 0.6em;
  margin-bottom: 1em;
  height: 6em;
}
.image {
  color: blue;
}
.borderLink {
  text-decoration: none;
}
.tile:hover {
  transform: scale(1.05);
  border: 2px solid black;
}
